<div class="contact-page">
    <section class="hero">
      <div class="container">
        <h1>Get in Touch</h1>
        <p>Want to discuss a project, ask a question, or simply say hello?</p>
      </div>
    </section>
  
    <section class="contact-form">
      <div class="container">
        <h2>Send Me a Message</h2>
        <form>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name"><br><br>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email"><br><br>
          <label for="message">Message:</label>
          <textarea id="message" name="message"></textarea><br><br>
          <button class="sendBtn" type="button">Send</button>
        </form>
      </div>
    </section>
  
    <section class="contact-info">
      <div class="container">
        <h2>Other Ways to Reach Me</h2>
        <p>You can also reach me at:</p>
        <a href="mailto:mirzya.t.me@gmail.com" target="_blank">mirzya.t.me@gmail.com</a>
      </div>
    </section>
  </div>